* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4efef;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #4c4646;
  color: white;
  width: 100%;
}

header h1 {
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.plan {
  background: #fff;
  border: 20px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.plan h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.price {
  font-size: 2em;
  color: #333;
  margin: 20px 0;
}

.price span {
  font-size: 0.5em;
  color: #777;
}

.plan ul {
  list-style: none;
  margin: 20px 0;
}

.plan li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.plan button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.plan button:hover {
  background-color: #8977a3;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #0e0e0e;
  color: #a59696;
  width: 100%;
  position: absolute;
  bottom: 0;
}
